.custom-dropdown {
    position: relative;
    min-width: 80px;

    .dropdown-header {
        padding-right: 20px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        color: var(--white);
        font-weight: 500;
        font-size: 16px;
        .arrow {
            transition: transform 0.3s ease;
        }

        .arrow.open {
            transform: rotate(180deg);
        }
    }

    .dropdown-list {
        position: absolute;
        width: 100%;
        min-width: 160px;
        background: $surface-color;
        border: 1px solid $border-color;
        margin-top: 5px;
        border-radius: 5px;
        box-shadow: $shadow;
        list-style: none;
        padding: 0;

        .dropdown-item {
            padding: 10px;
            cursor: pointer;
            transition: background 0.2s;
            color: $text-color;

            &:hover {
                background: var(--theme-muted);
            }

            &.selected {
                background: var(--theme-muted);
                color: $theme-color;
            }
        }
    }
}